@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Managing your beverages has never been easier. With this site, you can access your collection of beverages anywhere and anytime, on any device.</p>
    @if (Request.IsAuthenticated)
    {
        <p class="btn btn-primary btn-lg" style="background: white;">@Html.ActionLink("Get Started", "Index", "Beverages")</p>
    }
    else
    {
        <p class="btn btn-primary btn-lg" style="background: white;">@Html.ActionLink("Get Started", "Login", "Account")</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: #23ce9e;">About</h2>
        <p>
            Need help using this site? Be sure to visit the About page to learn what you can do to manage your beverages.
        </p>
        <p class="btn btn-default" style="border-color: #23ce9e;">@Html.ActionLink("Learn more", "About", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2 style="color: #c15ae5;">Contact</h2>
        <p>
            Something not working right? Encountered an unexpected error? Want to add further functionality? Contact the creator of this site!
        </p>
        <p class="btn btn-default" style="border-color: #c15ae5;">@Html.ActionLink("View details", "Contact", "Home")</p>
    </div>
    @*Check to see if the user is authenticated. If so, we
        can link the user to the Beverages page*@
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2 style="color: #ec4646;">Manage</h2>
            <p>
                View your collection of beverages and add, delete, or modify each beverage. You can also search for specific beverages.
            </p>
            <p class="btn btn-default" style="border-color: #ec4646;">@Html.ActionLink("View now", "Index", "Beverages")</p>
        </div>
    }
    else
    {
    <div class="col-md-4">
        <h2 style="color: #ec4646;">Manage</h2>
        <p>
            Log in now to view and manage your collection of beverages.
        </p>
        <p class="btn btn-default" style="border-color: #ec4646;">@Html.ActionLink("Log in", "Login", "Account")</p>
    </div>
    }
</div>